<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    RewriteRule ^fichiers/fiche_lhetre\.pdf$ /gites/le-hetre? [L,R=301]
    RewriteRule ^fichiers/fiche_lechene\.pdf$ /gites/le-chene? [L,R=301]
    RewriteRule ^mentions\.php$ /? [L,R=301]
    RewriteRule ^fichiers/fiche_lepin\.pdf$ /gites/le-pin? [L,R=301]
    RewriteRule ^fichiers/fiche_lechataignier\.pdf$ /gites/le-chataignier? [L,R=301]
    RewriteRule ^fr/offres\.php$ /tarifs? [L,R=301]
    RewriteRule ^fr/paysfees\.php$ /la-region? [L,R=301]
    RewriteRule ^en/acces\.php$ /? [L,R=301]
    RewriteRule ^fr/tarifs\.php$ /tarifs? [L,R=301]
    RewriteRule ^fr/loisirs\.php$ /les-loisirs? [L,R=301]
    RewriteRule ^en/paysfees\.php$ /la-region? [L,R=301]
    RewriteRule ^en/reservation\.php$ /reservation? [L,R=301]
    RewriteRule ^fr/liens\.php$ /evenements? [L,R=301]
    RewriteRule ^fr/acces\.php$ /contact? [L,R=301]
    RewriteRule ^fichiers/fiche_lepin_en\.pdf$ /gites/le-pin? [L,R=301]
    RewriteRule ^en/gites\.php$ /gites? [L,R=301]
    RewriteRule ^fichiers/fiche_lechataignier_en\.pdf$ /gites/le-chataignier? [L,R=301]
    RewriteRule ^fichiers/fiche_lhetre_en\.pdf$ /gites/le-hetre? [L,R=301]
    RewriteRule ^fr/livredor\.php$ /livre-d-or? [L,R=301]
    RewriteRule ^fr/$ /? [L,R=301]
    RewriteRule ^fr/reservation\.php$ /reservation? [L,R=301]
    RewriteRule ^en/index\.php$ /? [L,R=301]
    RewriteRule ^fr/gites\.php$ /gites? [L,R=301]
    RewriteRule ^fr\.swf$ /? [L,R=301]
    RewriteRule ^plan\.pdf$ /? [L,R=301]
    RewriteRule ^en/$ /? [L,R=301]
    RewriteRule ^viamichelin/$ /? [L,R=301]
    RewriteRule ^en\.php$ /? [L,R=301]
    RewriteRule ^fichiers/gite_dispo\.pdf$ /tarifs? [L,R=301]
    RewriteRule ^fichiers/fiche_lefrene\.pdf$ /gites/le-frene? [L,R=301]
    RewriteRule ^fr/index\.php$ /? [L,R=301]
    RewriteRule ^en/loisirs\.php$ /les-loisirs? [L,R=301]
    RewriteRule ^en/livredor\.php$ /livre-d-or? [L,R=301]
    RewriteRule ^fichiers/fiche_lechene_en\.pdf$ /gites/le-chene? [L,R=301]
    RewriteRule ^en/offres\.php$ /tarifs? [L,R=301]
    RewriteRule ^en/tarifs\.php$ /tarifs? [L,R=301]
    RewriteRule ^en/liens\.php$ /evenements? [L,R=301]
    RewriteCond %{QUERY_STRING} (^|&)lang\=en($|&)
    RewriteCond %{QUERY_STRING} (^|&)id_carto\=4($|&)
    RewriteRule ^viamichelin/$ /? [L,R=301]

</IfModule>
